{
  "env": {
    "node": true,
    "es6": true,
    "browser": true
  },
  "plugins": [
    "import",
    "react"
  ],
  "extends": [
    "airbnb",
    "prettier",
    "prettier/react"
  ],
  "parser": "babel-eslint",
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/destructuring-assignment": 0,
    "react/require-default-props": 0,
    "react/jsx-props-no-spreading": 0,
    "react/forbid-prop-types":1,
    "no-unused-vars": "warn",
    "jsx-a11y/label-has-associated-control":0,
    "class-methods-use-this": "off",
    "implicit-arrow-linebreak": "off",
    "no-underscore-dangle": "off",
    "comma-dangle": "off",
    "indent": "off",
    "no-trailing-spaces": "off",
    "import/first": "error",
    "semi": "off",
    "object-curly-newline": ["error", {
      "ImportDeclaration": "never"
    }]
  }
}
